<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IMDB">
  <test  name="Test Cases">
   <classes>
      <class name="com.imdb.qa.testcases.HomePageTest"/>
      <class name="com.imdb.qa.testcases.LoginPageTest"/>
      <class name="com.imdb.qa.testcases.MenuPageTest"/>
      <class name="com.imdb.qa.testcases.searchPageTest"/>
      <class name="com.imdb.qa.testcases.topBoxOfficeTest"/>
      <class name="com.imdb.qa.testcases.watchlistPageTest"/>
      </classes>
       </test> <!-- Test -->
</suite> <!-- Suite -->
